<page-header
  title="contacts"
  subtitle="this is the Contacts page"
  icon="fas fa-users">
</page-header>

<div class="mb-2 d-flex justify-content-between">
  <div>
    <a routerLink="new-contact"
     class="btn btn-outline-dark" title="Add new contact"
     role="button">{{"add contacts" | titlecase}}</a>
  </div>
  
  <app-display-mode-controllers [controllers]="controllers"
(onChangeDisplay)="onChangeDisplay($event)">
</app-display-mode-controllers>
</div>

<search-bar
*ngIf="contacts && contacts.length"
 [categories]="categpries"
 (arrayFiltered)="onSearch($event)"
 [array]="contactsRowData"></search-bar>

<div *ngIf="contacts && contacts.length; else noContacts">
  <app-contacts-table
  *ngIf="display === 'table'"
  [contacts]="contacts"
  (onDeleteContact)="deleteContact($event)">
    </app-contacts-table>

  <app-contacts-folder [contacts]="contacts"
  *ngIf="display === 'folder'">
  </app-contacts-folder>

  <app-contacts-big-folder  [contacts]="contacts"
  *ngIf="display === 'bigfolder'">
  </app-contacts-big-folder>
</div>

<ng-template #noContacts>
  <div class="p-2">
    {{ "no Contacts where found in the database" | textCapital }}
  </div>
</ng-template>