<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>{{ "Num." | titlecase }}</th>
        <th>{{ "Name" | titlecase }}</th>
        <th>{{ "Surname" | titlecase }}</th>
        <th>{{ "Phone" | titlecase }}</th>
        <th>{{ "Email" | titlecase }}</th>
        <th>{{ "birthday" | titlecase }}</th>
        <th>{{ "age" | titlecase }}</th>
        <th>{{ "country" | titlecase }}</th>
        <th>{{ "city" | titlecase }}</th>
        <th>{{ "street" | titlecase }}</th>
        <th>{{ "houseNumber" | titlecase }}</th>
        <th>{{ "createdAt" | titlecase }}</th>
        <th>{{ "Edit" | titlecase }}</th>
        <th>{{ "Delete" | titlecase }}</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="odd ? 'alert-success' : 'bg-light'" *ngFor="let contact of contacts; index as i; odd as odd"
        [routerLink]="['contact-details', contact._id]" role="button">
        <td>{{ i + 1 }}</td>
        <td>{{ contact.firstName | textCapital }}</td>
        <td>{{ contact.lastName | textCapital }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.email }}</td>
        <td>{{ contact?.birthday.toDate() | date:'yyyy/MM/dd'}}</td>
        <td>{{ contact.birthday.toDate() | date:'yyyy/MM/dd' | age }}</td>
        <td>{{ contact.address.country }}</td>
        <td>{{ contact.address.city }}</td>
        <td>{{ contact.address.street }}</td>
        <td>{{ contact.address.houseNumber }}</td>
        <td>{{ contact.createdAt.toDate() | date:'yyyy/MM/dd' }}</td>
        <td>
          <a class="btn btn-outline-dark" [routerLink]="['edit-contact', contact._id]" role="button"><i
              class="fas fa-pen"></i></a>
        </td>
        <td><button class="btn btn-outline-dark" (click)="deleteContact($event, contact._id!)">
            <i class="fas fa-trash"></i>
          </button></td>
      </tr>
    </tbody>
  </table>
</div>
