<page-header
  title="customers"
  subtitle="this is the Costumers page"
  icon="fas fa-users"
>
</page-header>

<div class="mb-2">
  <a routerLink="new-costumer" class="btn btn-outline-dark" title="Add  new costomer" role="button">{{"add costomer" | titlecase}}</a>
</div>

<table *ngIf="customers && customers.length; else noCustomers" class="table">
  <thead>
    <tr>
      <th>{{ "Num." | titlecase }}</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr
      [ngClass]="odd ? 'alert-success' : 'bg-light'"
      *ngFor="let customer of customers; index as i; odd as odd"
    >
      <td>{{ i + 1 }}</td>
      <td>{{ customer.firstName | textCapital }}</td>
      <td>{{ customer.lastName | textCapital }}</td>
      <td>{{ customer.phone }}</td>
      <td>{{ customer.email }}</td>
    </tr>
  </tbody>
</table>

<ng-template #noCustomers>
  <div class="p-2">
    {{ "no Customers where found in the database" | textCapital }}
  </div>
</ng-template>