<page-header
  title="customers"
  subtitle="this is the Costumers page"
  icon="fas fa-users"
>
</page-header>
<div *ngIf="dataReceived; else loader" >



<div class="d-flex justify-content-between">
<div class="my-2">
  <a
    routerLink="new-customer"
    class="btn btn-outline-dark"
    title="Add new customer"
    >{{ "add customer" | titlecase }}</a>
</div>

<app-display-mode-controllers  [controllers]="controllers"
(onChangeDisplay)="onChangeDisplay($event)">
</app-display-mode-controllers>
</div>

<search-bar *ngIf="customers && customers.length"
 [categories]="categories"
 (arrayFiltered)="onSearch($event)"
 [array]="customersRowData"></search-bar>

<div *ngIf="customers && customers.length; else noCustomers">
  
  <app-customers-table *ngIf="display === 'table'"
  [customers]="customers"
  (onDeleteCustomer)="deleteCustomer($event)">
    </app-customers-table>

  <app-customers-folder [customers]="customers"
  *ngIf="display === 'folder'">
  </app-customers-folder>

  <app-customer-big-folder  [customers]="customers"
  *ngIf="display === 'bigfolder'">
  </app-customer-big-folder>
</div>

<ng-template #noCustomers>
  <div class="p-2">
    {{ "no Customers where found in the database" | textCapital }}
  </div>
</ng-template>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>