<page-header title="customers" subtitle="this iS the Costumers page" icon="fas fa-users">
</page-header>

<table *ngIf="customers.length; else noContacts" class="table">
  <thead>
    <tr>
      <th>Num.</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Phone</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ customers.length }}</td>
      <td>{{ customers[0].firstName }}</td>
      <td>{{ customers[0].lastName }}</td>
      <td>{{ customers[0].phone }}</td>
      <td>{{ customers[0].email }}</td>
    </tr>
  </tbody>
</table>

<ng-template #noContacts>
  <div>{{'Opss... no Contacts where found in the database' | stringPipe }}</div>
</ng-template>