
<page-header title="login" subtitle="plase fill the form and login " icon="fa-solid fa-sign-in
"></page-header>
<div class="center mt-4">
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-12 col-md-8 col-xl-4 p-4 alert-success rounded">
    <div class="form-group mb-2">
      <label for="email">{{''| titlecase}}</label>
      <input
      tabindex="1" 
      ngModel 
      id="email" 
      name="email" 
      type="email" 
      class="form-control" 
      autocomplete="off"
      placeholder="user@gmail.com"
      minlength="6"
      pattern=".+@.+\..{2,}"
      #email="ngModel"
      [ngClass]="{
        'is-invalid' : email.invalid && email.touched,
        'is-valid' : email.valid && email.touched 
      }">
      <span class="invalid-feedback">
        {{ "plase enter a valid email" | textCapital}}</span>
    </div>
    <div class="form-group mb-2">
      <label for="password">{{'password'| titlecase}}</label>
      <input 
      ngModel 
      id="password" 
      name="password" 
      type="password" 
      class="form-control"
      autocomplete="off"
      placeholder="Aa1234!"
      tabindex="2"
      patern="((?=.*\d{1})(?=.*[A-Z]{1})(?=.*[a-z]{1})(?=.*[!@#$%^&*-]{1}).{7,20})"
      required
      #password="ngModel"
      [ngClass]="{
        'is-invalid' : password.invalid && password.touched,
        'is-valid' : password.valid && password.touched 
      }"
      >
      <span class="invalid-feedback">
        {{"plase enter a valid password" | textCapital}}</span>
    </div>
    <input 
    type="button" (click)="resetForm(loginForm)" value="Reset" class="btn btn-danger col-12 mb-2">

    <button [disabled]="loginForm.form.invalid" type="submit" class="col-12 btn btn-success">
      {{'submit'| titlecase}}</button>
  </form>
</div>